@import './src/scss/variables';

.player {
display: flex;
  &__info{
    width: 467px;
    height: 171px;
  }
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $nav-secondary;
  color: $fc-main;
  padding: 5px;
}

.enemy-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  }

.error-relative {
  position: relative;
  top: 0;
}
