@import './src/scss/variables';

@mixin titleBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 710px;
  height: 60px;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 20px;
  border-radius: 4px;
  text-transform: uppercase;
}

.player {
  display: flex;
  flex-direction: column;

  &__info {
    width: 460px;
    height: 171px;
    background-color: $bgc-summonerCard-main;
    padding: 12px 16px;
    border-radius: 5px;
    margin-bottom: 20px;

    &--top {
      display: flex;
      flex-direction: row;
    }

    &--avatar {
      width: 90px;
      height: 90px;
      border-radius: 4px;
    }

    &--text {

      &--name {
        font-size: 18px;
        font-weight: 600;
        padding: 4px 8px 16px;
        line-height: 22px;
      }

      &--info {
        padding: 0 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-between;

      & button {
        width: 120px;
        height: 41px;
        background-color: $bgc-summonerCard-button;
        border: none;
        margin: 16px 0;
        border-radius: 6px;
        font-family: $ff-secondary;
        color: $fc-secondary;
        font-size: 14px;
        line-height: 17px;
      }

      & button.close {
        width: 20px;

      }

      & button.long {
        width: 100%;
      }

      & button.short {
        margin-left: 10px;
      }
    }
  }

  &__game {
    display: flex;
    justify-content: space-between;

    &--enemy {
      width: 710px;

      & .title {
        @include titleBar;
        background-color: #24303F;
      }
    }

    &--ally {
      width: 710px;

      & .title {
        @include titleBar;
        background-color: $fc-main;
      }
    }
  }

}


.enemy-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.error-relative {
  position: relative;
  top: 0;
}

.superBig {
  width: 1440px;
  //background-color: #343740;
  margin-bottom: 20px;
  border-radius: 5px;
}

.superSmall {
  width: 460px;
}