@import './src/scss/variables';

.followedContainer{
  margin: 70px 240px;
  display: flex;
  flex-direction: column;
  font-family: $ff-secondary;
  color: $fc-secondary;
}
.summonerCards{
display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}