@import './src/scss/variables';

@mixin historyComponentText{
  font-family: $fc-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.enemy {
  display: flex;
  flex-direction: column;
  width: 710px;
  height: 182px;
  background: #192530;
  border-radius: 4px;
  margin-top: 8px;

  &__topPart {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    padding: 20px;

    &-text {
      padding: 0 10px;
      font-family: $ff-secondary;
      font-weight: 500;

      &-summoner {
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: $fc-secondary;
      }

      &-champ {
        font-size: 16px;
        line-height: 19px;
        color: #8A92AB;
        text-align: left;
      }
    }

  }

  &__unranked {
    display: flex;
    flex-direction: column;
    padding: 20px 140px 0;

    &-img {
      width: 80px;
      height: 80px;
    }

    &-text {
      position: relative;
      top: -50px;
      left: -10px
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    border: 2px solid #16181E;
    border-radius: 6px;
  }
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}


.history {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px 20px;
  border-top: 1px solid #52618A;
  align-items: center;
  justify-content: space-between;

  &__text{
    font-family: $ff-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #B8C1DA;
    padding-right: 15px;
  }
  &__component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height:42px;
    background: #283948;
    border-radius: 4px;

    &-img {
      margin-left: 5px;
      width: 32px;
      height: 32px;
    }
    &-text{
    @include historyComponentText;
      color: #B8C1DA;
      font-weight: 500;
      margin-right: 10px;
    }
    &-green{@include historyComponentText;
      color: #75F156;
    }
    &-red{@include historyComponentText;
      color: #F2554B;
    }
  }

}

.stats {
  display: flex;
  flex-direction: row;
  padding: 20px;

  &__badge {
    width: 80px;
    height: 80px;
  }

  &__text {
    margin-left: 10px;
    text-align: left;
    font-family: $ff-secondary;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;

    &-primary {
      margin-bottom: 12px;
    }

    &-secondary {
      font-weight: 500;
      color: #B8C1DA;
    }
  }
}


.summonerModal {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  font-size: 18px;
  background-color: #fff;

}