@import './src/scss/variables';

.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid $nav-border;
}

.navLogo {
  width: 220px;

  &__text {
    font-family: $ff-main;
    font-weight: 800;
    line-height: 35px;
    font-size: 26px;
    color: $fc-main;

    &--secondary {
      color: $fc-secondary;
    }
  }
}

.navMenu {
  &__ul {
    list-style: none;
    display: flex;

    & li {
      padding: 16px;
    }
  }

  &__NavLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: $ff-main;
    color: $fc-secondary;

  }
}

.dropdownMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;

  &__text {
    display: flex;
    align-items: center;
    font-family: $ff-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $fc-secondary;

    &--arrow {
      margin: 16px;
    }
  }

  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 230px;
    height: 52px;
    border-radius: 5%;
    background-color: #192530;
    cursor: pointer;
  }

  &__extend {
    position: absolute;
    top: 80px;
    border-radius: 5%;
    background-color: #fff;

    & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      width: 230px;
      background-color: #192530;
      & li {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 50px;
        font-family: $ff-secondary;
        color: $fc-secondary;
        & p{
          padding: 0 10px;
        }
             }
    }
  }
}

.dropdownMenu__extend.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdownMenu__extend.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

