// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600;700;800&family=Inter:wght@500;700&display=swap');

//breakpoints
$bp-mobile: 375px;
$bp-nav-buttons: 700px;
$bp-tablet: 1024px;
$bp-desktop: 1440px;


// Fonts
$ff-main: 'Exo', sans-serif;
$ff-secondary: 'Inter', sans-serif;


// Font colors
$fc-main: #0092EE;
$fc-secondary: #FFF;

// Background colors
$bgc-main: #F2F7FB;
$bgc-summonerCard-main: #343740;
$bgc-summonerCard-button: #444856;

// Navigation
$nav-main: #263544;
$nav-border: #2F2F2F;
$nav-highlight: #212C3A;
$nav-secondary: #212C3A;



// Buttons colors


