// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

//breakpoints
$bp-mobile: 375px;
$bp-nav-buttons: 700px;
$bp-tablet: 1024px;
$bp-desktop: 1440px;


// Fonts
$ff-main: 'Roboto', sans-serif;
$ff-secondary: 'Roboto Mono', monospace;

// Font colors
$fc-main: #FFF;
$fc-secondary: #BEBEC2;

// Background colors
$bgc-main: #F2F7FB;

// Navigation
$nav-main: #263544;
$nav-secondary: #1a3b65;
$nav-highlight: #212C3A;


// Buttons colors


