@import './src/scss/variables';

.loginForm {
  display:flex;
  flex-direction: row;
  align-items: center;
  & input{
    margin-right: 5px;
    background-color: #343740;
    width: 150px;
    height: 45px;
    border-radius: 5%;
    padding: 5px;
    color: $fc-secondary;
    border: none;
  }
  &__button{
    height: 45px;
    font-family: $ff-main;
    line-height: 21px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    margin-right: 5px;
    background-color: $fc-main;
    border: 0;
    color: $fc-secondary;
  }
  &__register{
    display: block;
    height: 45px;
    font-family: $ff-main;
    line-height: 21px;
    letter-spacing: 1px;
    font-size: 16px;
    color: $fc-secondary;
    text-decoration: none;
    border: 2px solid $fc-main;

    padding: 12px;
    border-radius: 4px;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #192530;
  border: 1px solid #F2F7FB;
  &__icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    font-size: 30px;
    color: #F2F7FB;
  }
  &__message{
    font-size: 20px;
    padding: 0 30px;
    line-height: 40px;
  }

}

.small{
  height: 40px;
}
